# Ignore all node_modules folders
**/node_modules/

# Ignore all environment files
**/.env

# Ignore log files
*.log

# Ignore build folders if any
**/dist/
**/build/

# Ignore system files
.DS_Store
Thumbs.db
